<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <%- include('components/index/head') %>
</head>
<body class="d-flex flex-column h-100 sb-nav-fixed">
    <%- include('components/index/a') %>
</body>
</html>