<div class="modal fade settings-modal" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Trung tâm tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Quản lý phần cài đặt tài khoản và trạng nghiệm kết nối trên các công nghệ của GardenToon.</p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-person"></i> Thông tin cá nhân
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" id="securityButton">
                        <i class="bi bi-shield-lock"></i> Mật khẩu và bảo mật
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-gear"></i> Tùy chọn quảng cáo
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-check-circle"></i> Xác minh
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thêm trung tâm tài khoản
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>