<div class="modal fade security-modal" id="securityModal" tabindex="-1" aria-labelledby="securityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="securityModalLabel">Mật khẩu và bảo mật</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Quản lý mật khẩu, tùy chọn đăng nhập và phương thức khôi phục.</p>
                <h6>Đăng nhập và khôi phục</h6>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" id="changePasswordButton">
                        Đổi mật khẩu
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Xác thực 2 yếu tố
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thông tin đăng nhập đã lưu
                    </a>
                </div>
                <h6 class="mt-4">Kiểm tra bảo mật</h6>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        Nơi bạn đang nhập
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Cảnh báo đăng nhập
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Email gắn đẩy
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Kiểm tra bảo mật
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>