<div class="modal fade" id="addGenreModal" tabindex="-1" aria-labelledby="addGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGenreModalLabel">Thêm Thể Loại Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addGenreForm">
                    <input type="hidden" id="genreId">
                    <div class="mb-3">
                        <label for="genreName" class="form-label">Tên Thể Loại</label>
                        <input type="text" class="form-control" id="genreName" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="genreSubmitButton">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>